body{
    background: url(https://images.unsplash.com/photo-1529070538774-1843cb3265df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN0dWRlbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) center/cover no-repeat;
    height:100vh;
    width:100%;
}
img{
    width:100px;
    height:50px;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin:auto; 
}
nav{
    text-transform: uppercase;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
    float:left;
}
ul li{
    display:inline-block;
    margin:0 20px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
}
button{
    float: right;
    background-color: green;
    border:none;
    padding: 6px 12px;
    border-radius: 4px;
    color:#fff;
}
nav::after{
    content:" ";
    clear:both;
    display:block;
}
section{
    clear:both;
    color:#fff;
    text-align:center;
}
h1{
    margin: 150px auto 0;
    width: 60%;
}
p{
    width:80%;
    margin:15px auto;
}
.secondary-text{
    color:orange;
}
.primary-text{
    color:rgba(104, 211, 104, 0.911);
}
.bottom-btn{
    float: none;
    margin: 50px;
}
